/* code theme pallet */
/*.oceanic {*/
/*    --background-code: #263238;*/
/*    --foreground-code: #B0BEC5;*/
/*    --function-code: #82AAFF;*/
/*    --keyword-code: #C792EA;*/
/*    --string-code: #C3E88D;*/
/*    --operator-code: #89DDFF;*/
/*    --attributes-code: #FFCB6B;*/
/*    --number-code: #F78C6C;*/
/*    --Parameter-code: #F78C6C;*/
/*}*/

.light {
/*.lighter {*/
    --background-code: #FAFAFA;
    --foreground-code: #546E7A;
    --function-code: #6182B8;
    --keyword-code: #7C4DFF;
    --string-code: #91B859;
    --operator-code: #39ADB5;
    --attributes-code: #F6A434;
    --number-code: #F76D47;
    --Parameter-code: #F76D47;
}



/*.darker {*/
/*    --background-code: #212121;*/
/*    --foreground-code: #EEFFFF;*/
/*    --function-code: #82AAFF;*/
/*    --keyword-code: #C792EA;*/
/*    --string-code: #C3E88D;*/
/*    --operator-code: #89DDFF;*/
/*    --attributes-code: #FFCB6B;*/
/*    --number-code: #F78C6C;*/
/*    --Parameter-code: #F78C6C;*/
/*}*/

/*.pale-night {*/
/*    --background-code: #292D3E;*/
/*    --foreground-code: #EEFFFF;*/
/*    --function-code: #82AAFF;*/
/*    --keyword-code: #C792EA;*/
/*    --string-code: #C3E88D;*/
/*    --operator-code: #89DDFF;*/
/*    --attributes-code: #FFCB6B;*/
/*    --number-code: #F78C6C;*/
/*    --Parameter-code: #F78C6C;*/
/*}*/

.dark {
/*.deep-ocean {*/
    --background-code: #0F111A;
    --foreground-code: #EEFFFF;
    --function-code: #82AAFF;
    --keyword-code: #C792EA;
    --string-code: #C3E88D;
    --operator-code: #89DDFF;
    --attributes-code: #FFCB6B;
    --number-code: #F78C6C;
    --Parameter-code: #F78C6C;
}

/*.material-space {*/
/*    --background-code: #1B2240;*/
/*    --foreground-code: #EEFFFF;*/
/*    --function-code: #82AAFF;*/
/*    --keyword-code: #C792EA;*/
/*    --string-code: #C3E88D;*/
/*    --operator-code: #89DDFF;*/
/*    --attributes-code: #FFCB6B;*/
/*    --number-code: #F78C6C;*/
/*    --Parameter-code: #F78C6C;*/
/*}*/


.preformatted-doc {
    background-color: var(--background-code);
    font-weight: 400;
    padding: 1.25rem;
    margin: 0;
}

.code-line::after {
    content: "\a";
    white-space: pre;
}

.code-foreground {
    color: var(--foreground-code);
}

.code-key-word {
    color: var(--keyword-code);
}

.code-attribute {
    color: var(--attributes-code);
}

.code-function {
    color: var(--function-code);
}

.code-operator {
    color: var(--operator-code);
}

.code-string {
    color: var(--string-code);
}

.code-number {
    color: var(--number-code);
}

.copy-code-btn {
    background-color: var(--background-code);
    color: var(--primary-text);
    border-radius: 8px;
    border: none;
    position: absolute;
    right: 0.9375rem;
    top: 1.25rem;
    font-size: 1.1rem;
}

.copy-code-btn:hover {
    color: var(--emphasis-text);
}