.dark {
    --primary-bg: #100B18;
    --primary-bg-80: #100B18CC;

    --secondary-bg: #45A29E;
    --secondary-bg-75: #45A29EBF;

    --emphasis-bg: #1F2838;
    --emphasis-bg-75: #1F2838BF;

    --primary-text: #C5C6C7;
    --primary-text-10: #B3C6C71A;

    --secondary-text: #FEFFFF;
    --secondary-text-02: #FEFFFF05;
    --secondary-text-04: #FEFFFF0A;
    --secondary-text-20: #FEFFFF33;
    --secondary-text-50: #FEFFFF80;

    --emphasis-text: #5CE3D9;
    --emphasis-text-10: #5CE3D91A;
    --emphasis-text-20: #5CE3D933;

    --background-shadow: #100B18CC;
}

.light {
    --primary-bg: #FEFFFF;
    --primary-bg-80: #FEFFFFCC;

    --secondary-bg: #45A29E;
    --secondary-bg-75: #45A29EBF;

    --emphasis-bg: #FDFDFD;
    --emphasis-bg-75: #FDFDFDBF;

    --primary-text: #2E3B4D;
    --primary-text-10: #2E3B4D1A;

    --secondary-text: #000000;
    --secondary-text-02: #00000005;
    --secondary-text-04: #0000000A;
    --secondary-text-20: #00000033;
    --secondary-text-50: #00000080;

    --emphasis-text: #5CE3D9;
    --emphasis-text-10: #5CE3D91A;
    --emphasis-text-20: #5CE3D933;

    --background-shadow: #00000073;
}

.secondary-text {
    color: var(--secondary-text);
}

/*animation*/
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes zoom-in-ani {
    from {scale: 95%}
    to {scale: 100%}
}

@keyframes zoom-out-ani {
    from {scale: 100%}
    to {scale: 95%}
}

@keyframes backdrop-blur-animation {
    from {backdrop-filter: blur(0px)}
    to {backdrop-filter: blur(5px)}
}

@keyframes backdrop-unblur-animation {
    from {backdrop-filter: blur(5px)}
    to {backdrop-filter: blur(0px)}
}

* {
    transition: all 0.2s ease-in-out;
    animation-timing-function: ease-in-out;
    text-decoration: none!important;
}

.body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

.border-top-primary-text-10 {
    border-top: 1px solid var(--primary-text-10);
}

.border-radius-8 {
    border-radius: 0.5rem!important;
}

.border-bottom-radius-8 {
    border-bottom-left-radius: 0.5rem!important;
    border-bottom-right-radius: 0.5rem!important;
}

.border-top-radius-8 {
    border-top-left-radius: 0.5rem!important;
    border-top-right-radius: 0.5rem!important;
}

.border-radius-12 {
    border-radius: 0.75rem!important;
}

.outline-none {
    outline: none;
}

.add-backdrop-blur {
    animation-name: backdrop-blur-animation;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.remove-backdrop-blur {
    animation-name: backdrop-unblur-animation;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.two-line-cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
}

.spacer {
    height: 56px;
}

.border-top {
    border-top: 1px solid var(--secondary-text-04)!important;
}

.section-background-shadow {
    width: 100vw;
    height: 100vh;
    padding: 15px;
    top: 0;
    left: 0;
    background-color: var(--background-shadow);
    z-index: 1;
}